@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --font-sans: "Source Sans 3", sans-serif;
  --color-primary: #F0F0F0;
  --color-text: #606060;
  --color-secondary:#007ACC;
   --color-input:#23262b;
}

@layer base {
  body {
    @apply font-sans bg-[var(--color-bg)] text-[var(--color-text)];
  }
}

/* Light mode */
:root {
  --color-primary: #F0F0F0;
  --color-text: #606060;
  --color-secondary:#007ACC;
  --color-input:#c6c2c2;
  
  /* Card text styling variables */
  --card-title-color: #1A202C;
  --card-title-hover: #007ACC;
  --card-description-color: #718096;
  --card-stats-color: #A0AEC0;
  --card-stats-number-color: #2D3748;
  --avatar-bg: #007ACC;
  --avatar-text: #FFFFFF;
}

/* Dark mode */
.dark {
  --color-primary: rgb(17 24 39);
  --color-text: #CCCCCC;
  --color-secondary:#007ACC;
  --color-input:#23262b;
  
  /* Card text styling variables */
  --card-title-color: #F7FAFC;
  --card-title-hover: #4299E1;
  --card-description-color: #CBD5E0;
  --card-stats-color: #A0AEC0;
  --card-stats-number-color: #E2E8F0;
  --avatar-bg: #007ACC;
  --avatar-text: #FFFFFF;
}